doctype html
html
    head
        title #{pageTitle} | #{siteName}
    body
        header
            include ../partials/header
            //include ../partials/navbar
        main
            block content
            include ../partials/logout
        footer
            include ../partials/footer